

.container{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    padding: 0px !important;
    height: 100vh;
    width: 100%;
}